.c-global-menu {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: $color-main-200;
  max-width: 700px;
  &__button {
    background-color: $color-main-300;
    width: 300px;
    height: 100px;
    &__text {
    }
  }
}
.article-block {
  background-color: $color-main;
  &__title_1 {
    border-left: solid black 10px;
    background-color: $color-accent;
    &__text {
      color: $color-base;
    }
  }
  &__paragraph {
    background-color: $color-base;
    margin: 10px;
    padding: 10px;
  }
}
